# EDA

## Load Data

In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("all_data.tsv", sep="\t")

In [3]:
display(df.head(5))

,HR,O2Sat,Temp,SBP,MAP,DBP,Resp,EtCO2,BaseExcess,HCO3,...,Fibrinogen,Platelets,Age,Gender,Unit1,Unit2,HospAdmTime,ICULOS,SepsisLabel,id
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,75.91,0,0.0,1.0,-98.6,1,0,patient_0
1,61.0,99.0,36.44,124.0,65.0,43.0,17.5,NaN,NaN,NaN,...,NaN,NaN,75.91,0,0.0,1.0,-98.6,2,0,patient_0
2,64.0,98.0,NaN,125.0,64.0,41.0,27.0,NaN,NaN,NaN,...,NaN,NaN,75.91,0,0.0,1.0,-98.6,3,0,patient_0
3,56.0,100.0,NaN,123.0,65.0,41.0,9.0,NaN,NaN,NaN,...,NaN,NaN,75.91,0,0.0,1.0,-98.6,4,0,patient_0
4,66.0,99.0,NaN,120.0,67.0,43.0,23.0,NaN,NaN,NaN,...,NaN,NaN,75.91,0,0.0,1.0,-98.6,5,0,patient_0

In [4]:
print(f"Total of {df.shape[1]} columns: ")
for i, col in enumerate(df.columns):
    print(f"{i+1}. {col}")

Total of 42 columns:
1. HR
2. O2Sat
3. Temp
4. SBP
5. MAP
6. DBP
7. Resp
8. EtCO2
9. BaseExcess
10. HCO3
11. FiO2
12. pH
13. PaCO2
14. SaO2
15. AST
16. BUN
17. Alkalinephos
18. Calcium
19. Chloride
20. Creatinine
21. Bilirubin_direct
22. Glucose
23. Lactate
24. Magnesium
25. Phosphate
26. Potassium
27. Bilirubin_total
28. TroponinI
29. Hct
30. Hgb
31. PTT
32. WBC
33. Fibrinogen
34. Platelets
35. Age
36. Gender
37. Unit1
38. Unit2
39. HospAdmTime
40. ICULOS
41. SepsisLabel
42. id

In [7]:
columns_explained = ["Heart rate (beats per minute)", "Pulse oximetry (%)", "Temperature (Degrees C)", "Systolic BP (mm Hg)",
                     "Mean arterial pressure (mm Hg)", "Diastolic BP (mm Hg)", "Respiration rate (breaths per minute)", "End tidal carbon dioxide (mm Hg)",
                     "Measure of excess bicarbonate (mmol/L)", "Bicarbonate (mmol/L)", "Fraction of inspired oxygen (%)", "N/A", "Partial pressure of carbon dioxide from arterial blood (mm Hg)",
                     "Oxygen saturation from arterial blood (%)", "Aspartate transaminase (IU/L)", "Blood urea nitrogen (mg/dL)", "Alkaline phosphatase (IU/L)", "(mg/dL)", "(mmol/L)", "(mg/dL)",
                     "Bilirubin direct (mg/dL)", "Serum glucose (mg/dL)", "Lactic acid (mg/dL)", "(mmol/dL)", "(mg/dL)", "(mmol/L)", "Total bilirubin (mg/dL)", "Troponin I (ng/mL)", "Hematocrit (%)",
                     "Hemoglobin (g/dL)", "partial thromboplastin time (seconds)", "Leukocyte count (count*10^3/µL)", "(mg/dL)", "(count*10^3/µL)", "Years (100 for patients 90 or above)", "Female (0) or Male (1)",
                     "Administrative identifier for ICU unit (MICU)", "Administrative identifier for ICU unit (SICU)", "Hours between hospital admit and ICU admit", "ICU length-of-stay (hours since ICU admit)",
                     "Outcome", "PSV file name"]
columns_dict = dict(zip(df.columns, columns_explained))

In [10]:
for i, x in enumerate(columns_dict.items()):
    print(f"{i+1}. {x[0]}: {x[1]}")

1. HR: Heart rate (beats per minute)
2. O2Sat: Pulse oximetry (%)
3. Temp: Temperature (Degrees C)
4. SBP: Systolic BP (mm Hg)
5. MAP: Mean arterial pressure (mm Hg)
6. DBP: Diastolic BP (mm Hg)
7. Resp: Respiration rate (breaths per minute)
8. EtCO2: End tidal carbon dioxide (mm Hg)
9. BaseExcess: Measure of excess bicarbonate (mmol/L)
10. HCO3: Bicarbonate (mmol/L)
11. FiO2: Fraction of inspired oxygen (%)
12. pH: N/A
13. PaCO2: Partial pressure of carbon dioxide from arterial blood (mm Hg)
14. SaO2: Oxygen saturation from arterial blood (%)
15. AST: Aspartate transaminase (IU/L)
16. BUN: Blood urea nitrogen (mg/dL)
17. Alkalinephos: Alkaline phosphatase (IU/L)
18. Calcium: (mg/dL)
19. Chloride: (mmol/L)
20. Creatinine: (mg/dL)
21. Bilirubin_direct: Bilirubin direct (mg/dL)
22. Glucose: Serum glucose (mg/dL)
23. Lactate: Lactic acid (mg/dL)
24. Magnesium: (mmol/dL)
25. Phosphate: (mg/dL)
26. Potassium: (mmol/L)
27. Bilirubin_total: Total bilirubin (mg/dL)
28. TroponinI: Troponin I (ng/mL)
29. Hct: Hematocrit (%)
30. Hgb: Hemoglobin (g/dL)
31. PTT: partial thromboplastin time (seconds)
32. WBC: Leukocyte count (count*10^3/µL)
33. Fibrinogen: (mg/dL)
34. Platelets: (count*10^3/µL)
35. Age: Years (100 for patients 90 or above)
36. Gender: Female (0) or Male (1)
37. Unit1: Administrative identifier for ICU unit (MICU)
38. Unit2: Administrative identifier for ICU unit (SICU)
39. HospAdmTime: Hours between hospital admit and ICU admit
40. ICULOS: ICU length-of-stay (hours since ICU admit)
41. SepsisLabel: Outcome
42. id: PSV file name

## Understanding the data

In [20]:
# pip install dataprep from terminal
import dataprep
from dataprep.eda import create_report

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 766884 entries, 0 to 766883
Data columns (total 42 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   HR                690913 non-null  float64
 1   O2Sat             666682 non-null  float64
 2   Temp              260148 non-null  float64
 3   SBP               654052 non-null  float64
 4   MAP               671078 non-null  float64
 5   DBP               527697 non-null  float64
 6   Resp              648543 non-null  float64
 7   EtCO2             27441 non-null   float64
 8   BaseExcess        42076 non-null   float64
 9   HCO3              31809 non-null   float64
 10  FiO2              63797 non-null   float64
 11  pH                53754 non-null   float64
 12  PaCO2             43005 non-null   float64
 13  SaO2              26842 non-null   float64
 14  AST               12242 non-null   float64
 15  BUN               52537 non-null   float64
 16  Alkalinephos      12113 non-null   float64
 17  Calcium           44917 non-null   float64
 18  Chloride          34581 non-null   float64
 19  Creatinine        46603 non-null   float64
 20  Bilirubin_direct  1452 non-null    float64
 21  Glucose           131713 non-null  float64
 22  Lactate           20544 non-null   float64
 23  Magnesium         48227 non-null   float64
 24  Phosphate         30459 non-null   float64
 25  Potassium         71627 non-null   float64
 26  Bilirubin_total   11282 non-null   float64
 27  TroponinI         7426 non-null    float64
 28  Hct               68128 non-null   float64
 29  Hgb               56731 non-null   float64
 30  PTT               22296 non-null   float64
 31  WBC               49059 non-null   float64
 32  Fibrinogen        4924 non-null    float64
 33  Platelets         45450 non-null   float64
 34  Age               766884 non-null  float64
 35  Gender            766884 non-null  int64
 36  Unit1             467722 non-null  float64
 37  Unit2             467722 non-null  float64
 38  HospAdmTime       766884 non-null  float64
 39  ICULOS            766884 non-null  int64
 40  SepsisLabel       766884 non-null  int64
 41  id                766884 non-null  object
dtypes: float64(38), int64(3), object(1)
memory usage: 245.7+ MB

In [22]:
def create_data_prep_report(df):
    report = create_report(df)
    report.save('dataprep_report_all_data') # save report to local disk
    report.show_browser() # show report in the browser
# create_data_prep_report(df)