In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("all_data.tsv", sep="\t")

In [5]:
display(df.head(5))

,Unnamed: 0.1,Unnamed: 0,HR,O2Sat,Temp,SBP,MAP,DBP,Resp,EtCO2,...,Fibrinogen,Platelets,Age,Gender,Unit1,Unit2,HospAdmTime,ICULOS,SepsisLabel,id
0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,75.91,0,0.0,1.0,-98.6,1,0,patient_0
1,1,1,61.0,99.0,36.44,124.0,65.0,43.0,17.5,NaN,...,NaN,NaN,75.91,0,0.0,1.0,-98.6,2,0,patient_0
2,2,2,64.0,98.0,NaN,125.0,64.0,41.0,27.0,NaN,...,NaN,NaN,75.91,0,0.0,1.0,-98.6,3,0,patient_0
3,3,3,56.0,100.0,NaN,123.0,65.0,41.0,9.0,NaN,...,NaN,NaN,75.91,0,0.0,1.0,-98.6,4,0,patient_0
4,4,4,66.0,99.0,NaN,120.0,67.0,43.0,23.0,NaN,...,NaN,NaN,75.91,0,0.0,1.0,-98.6,5,0,patient_0

In [6]:
print(f"Total of {df.shape[1]} columns: ")
for i, col in enumerate(df.columns):
    print(f"{i+1}. {col}")

Total of 44 columns:
1. Unnamed: 0.1
2. Unnamed: 0
3. HR
4. O2Sat
5. Temp
6. SBP
7. MAP
8. DBP
9. Resp
10. EtCO2
11. BaseExcess
12. HCO3
13. FiO2
14. pH
15. PaCO2
16. SaO2
17. AST
18. BUN
19. Alkalinephos
20. Calcium
21. Chloride
22. Creatinine
23. Bilirubin_direct
24. Glucose
25. Lactate
26. Magnesium
27. Phosphate
28. Potassium
29. Bilirubin_total
30. TroponinI
31. Hct
32. Hgb
33. PTT
34. WBC
35. Fibrinogen
36. Platelets
37. Age
38. Gender
39. Unit1
40. Unit2
41. HospAdmTime
42. ICULOS
43. SepsisLabel
44. id